<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="icon" href="/images/title-quod.png"/>
  <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
  <title>HOME</title>
</head>
<body class="bg-dark text-light">

  <nav class="navbar navbar-expand navbar-dark bg-dark shadow-lg">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
  <a href="/" class="nav-link active"><i class="fas fa-home"></i> HOME</a>
</li>
<li class="nav-item">
  <a href="/" class="nav-link active"><i class="fas fa-rocket"></i> PREMIUM</a>
</li>
<li class="nav-item">
  <a href="/" class="nav-link active"><i class="fas fa-question"></i> SUPPORT</a>
</li>
</ul>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
   <% if(user != "yok" ){ %>
    <li class="nav-item">
    <a href="/dashboard" class="nav-link active"><i class="fas fa-user"></i> <%= user.username %></a> 
  </li>
      <% } %>
</ul>
  </nav>
<br/>

<section class="plugin-section">
  <div class="container">
  <br/><br/><br/>
  <p id="success"></p>
  <br/><br/>
<h1>Welcome:</h1>
<br/>
<form id="welcome-form" style="margin-top: 1em;" method="POST"> 
  <p>Channels</p>
  <p style="color:lightslategray">You can select a welcome channel in the server</p>
  <br/>
  <input type="hidden" id="guildid" value="<%= guild.id %>">
      <select id="wchannel" name="wchannel" class="form-select">
       <option disabled>Please select welcome channel</option>
       <% for(i = 0; i < channels.length; i++){ %>
       <option value="<%= channels[i].id %>"><%= channels[i].name %></option>
<% }%>
  </select>
  <br/>
  <p style="color:lightslategray">You can select a goodbye channel in the server</p>
  <br/>
  <select id="gchannel" name="gchannel" class="form-select">
    <option disabled>Please select goodbye channel</option>
    <% for(i = 0; i < channels.length; i++){ %>
    <option value="<%= channels[i].id %>"><%= channels[i].name %></option>
<% }%>
</select>
<br/><br/>
<p>Message</p>
<p style="color:lightslategray">You can write a custom welcome message</p>
<br/>
<input type="text" id="wmessage" class="form-control" name="wmessage" placeholder="Your welcome message" value="<%= wmessage %>" required="require">
<br/>
<p style="color:lightslategray">You can write a custom goodbye message</p>
<br/>
<input type="text" id="gmessage" class="form-control" name="gmessage" placeholder="Your goodbye message" value="<%= gmessage %>" required="require"><br><br>
  <button type="submit" class="btn btn-outline-success">Save Settings</button>
</form>
<br/>
</div>
</section>
<script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
   var guildID = document.getElementById("guildid").value;
  $('#welcome-form').submit(function (e) {
    e.preventDefault();
    $.ajax({
			url:`/dashboard/${guildID}/welcome`,
			type:'POST', 
			data: {
      wchannel: document.getElementById("wchannel").value,
      wmessage: document.getElementById("wmessage").value,
      gchannel: document.getElementById("gchannel").value,
      gmessage: document.getElementById("gmessage").value,
      guildid: document.getElementById("guildid").value
      },
      succes: document.getElementById('success').innerHTML = "YOUR SETTINGS HAVE BEEN SAVED"
		});
  });
</script>

</body>
</html>
