<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="icon" href="/images/title-quod.png"/>
  <script src="https://kit.fontawesome.com/fe063c303c.js" crossorigin="anonymous"></script>
  <title>Guilds</title>
</head>
<body>

  <nav class="nav">
  <a href="/" class="nav-button left"><i class="fas fa-home"></i> HOME</a>&emsp;&emsp;
  <a href="/" class="nav-button left"><i class="fas fa-rocket"></i> PREMIUM</a>&emsp;&emsp; 
  <a href="/" class="nav-button left"><i class="fas fa-question"></i> SUPPORT</a> 
   <% if(user != "yok" ){ %>
    <a href="/dashboard" class="nav-button right"><i class="fas fa-user"></i> <%= user.username %></a> 
    <% } else { %>
      <a href="<%= loginlink %>" class="nav-button right"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
      <% } %>
</nav>
<br/>
<section class="index-section">
  <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" class="guildicon"/><br/>
<%= user.username %>
<br/>
<%  guilds.forEach(guild => {
    const permsOnGuild = new perms(guild.permissions);
    if(!permsOnGuild.has("ADMINISTRATOR")) return;
  %>
  <div class="row">
    <br/>
    <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>  ? 'gif' : 'png'" class="guildicon"/>
  <p><%= guild.name %></p>
  <br/>
  <% if (bot.guilds.cache.get(guild.id)) { %>
    <a href="/dashboard/<%= guild.id %>" class="dashboard">Edit Settings</a>
  <% } else { %>
    <a href="<%= `http://bit.ly/quodbot` %>"  class="dashboard">Add Bot</a>
  <% } %>

</div>
  <% }); %>
</section>
</body>
</html>