<%- include('./partials/header.ejs', {}) %>

<section class="section p-3">
  <div class="container">
  <h1>  <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" class="rounded-pill"/>
<%= user.username %></h1>
<br/>
<hr/>
  <div class="row">
<%  guilds.forEach(guild => {
    if(guild.owner != true) return;
  %>
    <div class="col-2 btn btn-dark me-5" align="center">
    <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>  ? 'gif' : 'png'" class="rounded-pill"/><br/>
  <p class="text-light"><%= guild.name %></p>
  <% if (bot.guilds.cache.get(guild.id)) { %>
    <a href="/dashboard/<%= guild.id %>" class="btn btn-dark">Edit Settings</a>
  <% } else { %>
    <a href="http://bit.ly/quodbot" class="btn btn-dark">Add Bot</a>
  <% } %>
</div>
  <% }); %>
</div>
</div>
</section>
</body>
</html>
