<%- include('./partials/header.ejs', {}) %>

<section class="section">
  <div class="container">
<h2 class="mb-3 ms-5 mt-5">Server Management</h2>
   <div class="row ms-5">
       <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
        <a href="./<%- guildid %>/prefix" class="text-decoration-none">
          <i class="fas fa-exclamation fa-2x float-start me-3 text-light"></i><br/>
          <h4 class="text-light mt-2">Prefix</h4>
          <p class="text-light mt-2">Change Quod's Prefix</p>
      </a>
    </div>

    <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
      <a href="./<%- guildid %>/lang" class="text-decoration-none">
        <i class="fas fa-globe-europe fa-2x float-start me-3 text-light"></i><br/>
        <h4 class="text-light mt-2">Language</h4>
        <p class="text-light mt-2">Change Quod's Language</p>
    </a>
  </div>

  <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
    <a href="./<%- guildid %>/welcome" class="text-decoration-none"> 
      <i class="far fa-hand-paper fa-2x float-start me-3 text-light"></i><br/>
      <h4 class="text-light mt-2">Welcome Message</h4>
      <p class="text-light mt-2">Send a welcome message</p>
  </a>
</div>

<div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
  <a href="./<%- guildid %>/customcommand" class="text-decoration-none"> 
    <i class="far fa-edit fa-2x float-start me-3 text-light"></i><br/>
    <h4 class="text-light mt-2">Custom Command</h4>
    <p class="text-light mt-2">Design a custom command for your server</p>
</a>
</div>

<div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
  <a href="./<%- guildid %>/moderation" class="text-decoration-none"> 
    <i class="fas fa-gavel fa-2x float-start me-3 text-light"></i><br/>
    <h4 class="text-light mt-2">Moderation</h4>
    <p class="text-light mt-2">Do not allow toxic members on the server</p>
</a>
</div>
  
</div>


<h2 class="mb-3 ms-5 mt-5">Utilities</h2>
   <div class="row ms-5">
       <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
        <a href="./<%- guildid %>/embed" class="text-decoration-none">
          <i class="fas fa-align-left fa-2x float-start me-3 text-light"></i><br/>
          <h4 class="text-light mt-2">Embed</h4>
          <p class="text-light mt-2">Send a embed message</p>
      </a>
    </div>

    <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
      <a href="./<%- guildid %>/search" class="text-decoration-none">
        <i class="fas fa-search fa-2x float-start me-3 text-light"></i><br/>
        <h4 class="text-light mt-2">Search</h4>
        <p class="text-light mt-2">Search the Internet for anything you want</p>
    </a>
  </div>
   </div>


   <h2 class="mb-3 ms-5 mt-5">Social Network</h2>
   <div class="row ms-5">
       <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
        <a href="./<%- guildid %>/twitch" class="text-decoration-none">
          <i class="fab fa-twitch fa-2x float-start me-3 text-light"></i><br/>
          <h4 class="text-light mt-2">Twitch</h4>
          <p class="text-light mt-2">Report streamers on Twitch</p>
      </a>
    </div>

    <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
      <a href="./<%- guildid %>/youtube" class="text-decoration-none">
        <i class="fab fa-youtube fa-2x float-start me-3 text-light"></i><br/>
        <h4 class="text-light mt-2">Youtube</h4>
        <p class="text-light mt-2">Be aware of youtubers' videos</p>
    </a>
  </div>
   </div>

   

   <h2 class="mb-3 ms-5 mt-5">Engagement & Fun</h2>
   <div class="row ms-5">
       <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
        <a href="./<%- guildid %>/level" class="text-decoration-none">
          <i class="fas fa-trophy fa-2x float-start me-3 text-light"></i><br/>
          <h4 class="text-light mt-2">Levels</h4>
          <p class="text-light mt-2">Level system for chatters</p>
      </a>
    </div>

    <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
      <a href="./<%- guildid %>/economy" class="text-decoration-none">
        <i class="fas fa-coins fa-2x float-start me-3 text-light"></i><br/>
        <h4 class="text-light mt-2">Economy</h4>
        <p class="text-light mt-2">Edit the economy system on the server</p>
    </a>
  </div>

  <div class="col-3 bg-dark shadow-lg me-5 pt-2 pb-2 mb-4 rounded">
    <a href="./<%- guildid %>/music" class="text-decoration-none">
      <i class="fas fa-music fa-2x float-start me-3 text-light"></i><br/>
      <h4 class="text-light mt-2">Music</h4>
      <p class="text-light mt-2">Edit the music system on the server</p>
  </a>
</div>
   </div>
  
  </div>
</section>


</body>
</html>
